*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: white; */
    font-family: 'Nuosu SIL', serif;
}

body{
    background: #e5e7e9;
    /* font-family: "Lato", sans-serif; */
    line-height: 1.5;
}

h2{
    text-transform: capitalize;
}

/******************** header********************* */
header{

    margin: 0 3.5rem 1.5rem;
}


/* Navbar */



#navbar .navbar{
        display: flex;
        float: right;
}

#navbar ul{
        list-style: none;
}

#navbar ul li{
        margin-left: 1rem;
}

#navbar ul li a{
        text-decoration: none;
        padding: 1rem;
}

#navbar ul li a.current{
        /* background: gray; */
        border-bottom: 3px #fff solid;
}

/* ----------------------main------------------------ */

main{
    /* border: 1px solid red; */
    height: 100vh;
}

.container{
    /* border: 2px solid green; */
    display: flex;
    height: 100vh;
}
.container-1{
    height: 40vh;
    /* border: 2px solid rgb(6, 4, 45); */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    
}

.container-1 h3{
    padding: 8px;
    

}

.container-1 h3 a{
    color: rgb(19, 77, 149);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid rgb(2, 23, 39);
    font-size: 30px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(240, 241, 244);

}

.container-1 h3 a:hover{
    background-color: rgb(137, 172, 231);
}

.container-1 h3 a:active{
    background-color: rgb(85, 134, 219);
    color: white;
}