<<<<<<< HEAD
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: white; */
    font-family: 'Nuosu SIL', serif;
}

body{
    background: #e5e7e9;
    /* font-family: "Lato", sans-serif; */
    line-height: 1.5;
}

h2{
    text-transform: capitalize;
}

/******************** header********************* */
header{

    margin: 0 3.5rem 1.5rem;
}


/* Navbar */



#navbar .navbar{
        display: flex;
        float: right;
}

#navbar ul{
        list-style: none;
}

#navbar ul li{
        margin-left: 1rem;
}

#navbar ul li a{
        text-decoration: none;
        padding: 1rem;
}

#navbar ul li a.current{
        /* background: gray; */
        border-bottom: 3px #fff solid;
}

/* *********************main***************************** */
.container{
    margin: 60px 18px;
    /* border: 1px solid green; */
}
.study-material{
    /* border: 2px solid red; */
    width: 600px;
    margin: auto;
=======
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: white; */
    font-family: 'Nuosu SIL', serif;
}

body{
    background: #e5e7e9;
    /* font-family: "Lato", sans-serif; */
    line-height: 1.5;
}

h2{
    text-transform: capitalize;
}

/******************** header********************* */
header{

    margin: 0 3.5rem 1.5rem;
}


/* Navbar */



#navbar .navbar{
        display: flex;
        float: right;
}

#navbar ul{
        list-style: none;
}

#navbar ul li{
        margin-left: 1rem;
}

#navbar ul li a{
        text-decoration: none;
        padding: 1rem;
}

#navbar ul li a.current{
        /* background: gray; */
        border-bottom: 3px #fff solid;
}

/* *********************main***************************** */
.container{
    margin: 60px 18px;
    /* border: 1px solid green; */
}
.study-material{
    /* border: 2px solid red; */
    width: 600px;
    margin: auto;
>>>>>>> 4617f614aec901265fcd6a06530b7e4a47071749
}